* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section > * {
  margin: 10px;
}
ul {
  list-style: none;
}
section img {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
a:hover {
  background: tomato;
  color: white;
}
.content {
  display: flex;
}
.content ul {
  margin: 20px;
}
.content ul li {
  padding: 10px 20px;
}
h3 {
  font-size: 1.2rem;
}
